@use "sass:meta";

@mixin syntax-colors($args...) {
  @debug meta.keywords($args);

  @each $name, $color in meta.keywords($args) {
    .text-#{$name} {
      color: $color;
    }

  }
}

@include syntax-colors(
  $color-primary : #01080E,
  $color-primary-soft: #011627,
  $color-primary-ligth: #011221,
  $color-secondary: #607B96,
  $color-secondary-green: #3C9D93,
  $color-secondary-bluePurple: #4D5BCE,
  $color-secondary-white: #FFFFFF,
  $color-accent:#FEA55F,
  $color-accent-green: #43D9AD,
  $color-accent-red: #E99287,
  $color-accent-purple: #C98BDF,
  $stroke-color: #1E2D3D,
  $bg-color-secondary: #010C15,
)