/* COlORS */
$bg-color : #011627;
$bg-color-secondary: #010C15;
$stroke-color: #1E2D3D;
$text-color-white: #E5E9F0;
$text-color-bluePurple: #4D5BCE;
$text-color-green: #43D9AD;
$text-color-orange: #E99287;
$text-color-muted: #607B96;

/* COlORS */

/* FONTS */
$font-primary: 'Fira Code', monospace;
/* FONTS */
