/* COlORS */
$color-primary : #01080E;
$color-primary-soft: #011627;
$color-primary-ligth: #011221;


$color-secondary: #607B96;
$color-secondary-green: #3C9D93;
$color-secondary-bluePurple: #4D5BCE;
$color-secondary-white: #FFFFFF;
$color-secondary-lgWhite: #E5E9F0;


$color-accent:#FEA55F;
$color-accent-green: #43D9AD;
$color-accent-red: #E99287;
$color-accent-purple: #C98BDF;

$color-text-purple: #5565E8;

$stroke-color: #1E2D3D;
$bg-buttom-primary:  #1C2B3A;
$bg-color-secondary: #010C15;

/* COlORS */

/* FONTS */
$font-primary: 'Fira Code', monospace;
/* FONTS */




