.folderSystem{
  &__titleBottomStroke{
    width: 100%;
    border-bottom: 1px solid $stroke-color;

  }
  &__btnContainer{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    button{
      background-color: transparent;
      border:none;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        order: 2;
        margin-left: 10px;
        color: $color-secondary-white ; 
        font-family: $font-primary;
        font-size: 1.6rem;
      }
      .tringleIcon{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
          
          transition: 200ms;
          transform: rotate(0deg);
        }
        
      }
    
    }
    button.close{
      .tringleIcon{
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 200ms;
        svg{
          transform: rotate(-90deg);
          transform-origin: 50% 0%;
          transition: 200ms;
        }

      }
    }
  }
  &__folderContainer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__folderBtn{
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      outline: none;
      &-chevron{ 
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        svg{
          transform: rotate(0);
          transition: 200ms;
        }
      }
      .chevron-active{
        transform: rotate(90deg);
        transition: 200ms;
        transform-origin: 41% 64%;
      }
      p{
        color: $color-secondary;
        margin: 0 10px;
        font-size: 1.6rem;
      }
     
    }
    &__fileBtn{
      display: flex;
      flex-direction: column;
      overflow: hidden;
      button{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: transparent;
        border: none;
        padding-left: 4.6rem;
        margin-top: 5px;
        .icon{
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .file-name{
          width: 95%;
          margin: 0 auto;
          text-align: left;
          span{
            font-size: 1.6rem;
            color: $color-secondary;
          }
          span:nth-child(1){
            text-transform: capitalize;
          }
        }
        
      }
    }


  }
}