.headerContainer {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 10;
  &__heading {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid  $stroke-color;
    padding-left: 10px;
    padding-right: 10px;
    &-deskMenu{
      display: none;
    }
    ul{
      li{
        a, a:visited{
          color: $color-secondary;
          font-size: 1.6rem;
        }
      }
    }
    button.close{
      position: relative;
      transition: 200ms;
      div:nth-child(1){
        position: absolute;
        top:50%;
        transform: rotate(-45deg) ;
        transition: 200ms;
      }
      div:nth-child(2){
        opacity: 0;
        width: 0%;
        transition: 300ms;
      }
      div:nth-child(3){
        position: absolute;
        top:50%;
        transform: rotate(45deg);
        transition: 200ms;
      }
    }
    button { 
      width: 24px;
      height: 16px;
      background-color: transparent;
      border: none;
      outline: none;
      position: relative;
      div{
        position: absolute;
        width: 100%;
        transform: rotate(0);
        transition: 200ms;
        height: 3px;
        background-color: $color-secondary;
      }
      div:nth-child(1){
        top: 0;
      }
      div:nth-child(2){
        top: 50%;
      }
      div:nth-child(3){
        top: 100%;
      }
    }
  }
  &__list {
    position: relative;
    width: 100%;
    ul{
      height: calc(100vh - 130px);
      width: 100%;
      background-color: $color-primary-soft;
      background-position: center;
      background-size: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      li{
        height: 55px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid  $stroke-color;
        a, a:visited{
          font-size: 1.6rem;
          color: $color-secondary;
        }
      }
      li.current{
        a{
          color: $color-secondary-white !important;
        }
      }
    }

  }
}
@media (min-width: 768px) {
  .headerContainer{
    display: flex;
    &__heading{
      display: flex;
      justify-content: flex-start;
      &-deskMenu{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 120px) 1fr;
        li{
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid $stroke-color;
          border-bottom: 3px solid transparent;
        }
        li:nth-child(3){
          border-right: 1px solid $stroke-color;
        }
        li:last-child{
          justify-self: flex-end;
          min-width: 120px;
        }
        li.current{
          border-bottom: 3px solid $color-accent-red;
          a{
            color: $color-secondary-white !important;
          }
        }
      }
      &-logo{
        min-width: 200px;
      }
      button{
        display: none;
      }
    }
    &__list{
      display: none;
    }
  }
  
}