.windowContainer {
  width: 95%;
  height: calc(100vh - 20px);
  margin: 10px auto;
  background-color: $color-primary-soft;
  border: 1px solid $stroke-color;
  border-radius: 8px;
  position: relative;
 
}