.windowContainer {
  width: 95%;
  height: calc(100vh - 20px);
  margin: 10px auto;
  background-color: $color-primary-soft;
  border: 1px solid $stroke-color;
  border-radius: 8px;
  position: relative;
 
}

.allScreenLayoutCenter{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}


.ideLayout{
  @extend .homeMain;
  display: flex;
  flex-direction: column;
  &__files, &__code ,&__code-secondWindow{
    height: fit-content;
    min-height: 250px;
    overflow-y: scroll;
    //max-width: 700px;
  }
 
}

.ideLayout-secondWindow {
  @extend .homeMain;
  display: flex;
  flex-direction: column;
  &__files, &__code,&__code-secondWindow {
      flex-shrink: 1;
    }
  &__code-secondWindow{
    display: none;
  }
}

@media (min-width:768px) {
  .ideLayout{
    display: grid;
    grid-template-columns: 290px 1fr ;
    &__files, &__code{
      height: 100%;
      max-height: none;
      min-height: 300px;
      border-right: 1px solid $stroke-color;
    }
  }
  .ideLayout-secondWindow {
    display: grid;
    grid-template-columns: 290px 1fr 1fr;
    &__code-secondWindow{
      display: flex;
      flex-direction: column;
    }
    &__files, &__code ,&__code-secondWindow{
      height: 100%;
      max-height: none;
      min-height: 300px;
      border-right: 1px solid $stroke-color;
    }
  }
  
}