.windowContainer {
  width: 95%;
  height: calc(100vh - 20px);
  margin: 10px auto;
  background-color: $color-primary-soft;
  border: 1px solid $stroke-color;
  border-radius: 8px;
  position: relative;
 
}


.ideLayout{
  @extend .homeMain;
  display: flex;
  flex-direction: column;
  &__files, &__code{
    min-height: 300px;
    overflow-y: scroll;
    //max-width: 700px;
  }
 
 }

@media (min-width:768px) {

  .ideLayout{
    display: grid;
    grid-template-columns: 290px 1fr ;
    &__files, &__code{
      border-right: 1px solid $stroke-color;
     
      //max-width: 700px;
    }
  }
  
}