.footer{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  &__socialMedia{
    height: 50px;
    width: 100%;
    border-top: 1px solid $stroke-color;
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    li {
      display: flex;
      color: $color-secondary;
      align-items: center;
      justify-content: center;
      border-left: 1px solid $stroke-color;
    }
    li:first-child{
      justify-self: flex-start;
      padding-left: 10px;
    }

  }

}